extends layout

block content


	div.row#projects
		for item in projects
			div.four.columns.project_box
				if item.img_url
					div#img_wrap(style="background-image: url('#{item.img_url}');")
				div#project_content.project_innerbox
					span.project_role #{item.role}	
					h4.project_name #{item.name}			
					p.project_description #{item.description}
					span.skills #{item.skills}
					if item.link
						a.project_link(href="#{item.link}") Link
					else
						a  &nbsp
					if item.git_link
						a.project_github(href="#{item.git_link}") 
							img(src="/images/blacktocat.svg")
	script
		$(".project_box:last-child").addClass("end");